@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --Very_dark_blue: hsl(238, 29%, 16%);
  --Soft_red: hsl(14, 88%, 65%);
  --Soft_violet: hsl(273, 75%, 66%);
  --Soft_blue: hsl(240, 73%, 65%);
  --Very_dark_grayish_blue: hsl(237, 12%, 33%);
  --Dark_grayish_blue: hsl(240, 6%, 50%);
  --Light_grayish_blue: hsl(240, 5%, 91%);
}

body {
  padding: 0;
  margin: 0;
}
.main {
  height: 100%;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px 85px 24px;
  margin: 0;
  font-family: "Kumbh Sans";
  font-size: 13px;
  margin: 0 auto;
}

span {
  display: none;
  font-weight: 400;
  line-height: 18px;
  width: 260px;
  color: var(--Dark_grayish_blue);
}
h1 {
  font-size: 32px;
  text-align: center;
  padding-top: 20px;
}

#shadow {
  position: relative;
  top: 50px;
  left: 40px;
}
#question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
img {
  align-self: center;
}
.card {
  justify-content: center;
  min-width: 270px;
  background-color: white;
  border-radius: 23px;
  padding: 65px 24px 40px 24px;
  cursor: pointer;
  max-width: 920px;
  margin: 0 auto;
}
hr {
  border: 1px solid #e8e8ea;
}

.main_img_mobile {
  position: relative;
  top: 177px;
}
.shadow {
  position: relative;
  top: -77px;
  left: 0px;
}
p {
  font-weight: 400;
  font-size: 13px;
  color: var(--Very_dark_grayish_blue);
}
.span.active {
  display: block;
}
.main_img_desktop {
  display: none;
}

/* styles for js */
.newStyle {
  display: block;
  transition-duration: 1000ms;
}
.rotateArrow {
  transform: rotate(180deg);
  transition-duration: 1000ms;
}
